/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #525252;
    background-color: #f9f9f9;
  }
  
  h1, h2 {
    color: #4fdb18;
    margin-bottom: 10px;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Header Styles */
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .profile-picture {
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
  
  .profile h1 {
    margin: 10px 0;
    font-size: 2rem;
  }
  
  .profile p {
    font-size: 1.2rem;
  }
  
  /* Main Resume Styles */
  .resume-container {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  section h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  
  .about p, .education-item p, .experience-item p {
    margin: 10px 0;
  }
  
  .skills ul {
    list-style: none;
    padding: 0;
  }
  
  .skills li {
    background-color: #eb1b1b;
    color: #ffffff;
    margin: 5px 0;
    padding: 8px 10px;
    border-radius: 5px;
    display: inline-block;
  }
  
  /* Footer Styles */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .resume-container {
      padding: 10px;
    }
  
    .profile h1 {
      font-size: 1.5rem;
    }
  
    .skills li {
      font-size: 0.9rem;
      padding: 6px 8px;
    }
  }
  